.intro-container{
    background-color: #F9F9FF;
    height: 900px;
    margin-top: 100px;
    display: flex;
    flex-basis: 100%;
}

.intro-left{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 200px 0px 0px 150px;
}

.intro-text-light{
    max-width: 750px;
    font-size:25px;
    margin: 0;
}

.intro-name{
    font-weight: bold;
    font-size: 100px;
    margin: 0;
}

.intro-grey{
    color: #777777;
}

.intro-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 75px;
    max-width: 300px;
    background-image: linear-gradient(to right, #8490FF , #62BDFC);
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: 0.15s;
}

.intro-button:hover{
    -webkit-box-shadow: 0px 25px 25px 5px rgba(132, 144, 255, 0.5); 
    box-shadow: 0px 25px 25px 5px rgba(132, 144, 255, 0.5);
    transition: 0.15s;
}

.intro-right{
    display: flex;
}

.intro-img{
    position: relative;
    top: 100px;
    left: 100px;
    max-width: 720px;
    max-height: 800px;
}