.navbar-container{
    display: flex;
    height: 100px;
    width: 100%;
    top:0;
    z-index: 100;
    background-color: white;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 10px 13px -7px #bfbfbf, 0px 0px 0px 0px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #bfbfbf, 0px 0px 0px 0px rgba(0,0,0,0);
}

.navbar-logo{
    height: 70px;
    width: 70px;
    margin-left: 100px;
}

.navbar-link-container{
    display: flex;
    margin-right: 100px;
}

.navbar-link{
    text-decoration: none;
    margin-left: 75px;;
    font-size: 20px;
    color: #000000;
    transition: .2s;
}

.navbar-link:hover{
    color: #8490FF;
    transition: .2s;
}